.review-item {
    border: solid 1px #95A0A7;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    width: 571px;
    display: flex;
}

.review-item img {
    width: 100px;
}

.review-item-details p {
    margin: 0%;
}

.delete-container {
    display: flex;
    align-items: center;
}

.review-item-detail-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.delete-icon {
    color: rgb(231, 90, 90);

    width: 30px;
    height: 30px;


}

.delete-btn {
    background-color: rgb(224, 179, 179);
    width: 55px;
    height: 55px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}